.review_item {
  margin-bottom: 15px;
}
.review_item:last-child {
  margin-bottom: 0px;
}
.review_item .media {
  position: relative;
}
.review_item .media .d-flex {
  padding-right: 15px;
}
.review_item .media .media-body {
  vertical-align: middle;
  align-self: center;
}
.review_item .media .media-body h4 {
  margin-bottom: 0px;
  font-size: 14px;
  color: #222222;
  font-family: "Roboto", sans-serif;
  margin-bottom: 8px;
}
.review_item .media .media-body i {
  color: #fbd600;
}
.review_item .media .media-body h5 {
  font-size: 13px;
  font-weight: normal;
  color: #777777;
}
.review_item .media .media-body .reply_btn {
  border: 1px solid #e0e0e0;
  padding: 0px 28px;
  display: inline-block;
  line-height: 32px;
  border-radius: 16px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #222222;
  position: absolute;
  right: 0px;
  top: 14px;
  @icnlude transition;
}
.review_item .media .media-body .reply_btn:hover {
  background: #ffba00;
  border-color: #ffba00;
  color: #fff;
}
.review_item p {
  padding-top: 10px;
  margin-bottom: 0px;
}
.review_item.reply {
  padding-left: 28px;
}